.card {
    margin: .5rem;
    padding: .8rem;
    border: 3px solid #235577;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
}
.card:hover {
    border: 3px solid #088fe9;
    background: #088fe9;
    color: #fff;
    transition: .3s ease-in-out;
}

.item {
    padding-right: 1.5rem;
}